{% extends 'base.html' %}
{% block content %}
<center><h1 style="text-decoration: underline; font-size: 65px;">About us</h1></center>
<center><h2 style="margin-top: 50px;"><span style="font-size: 50px;" class="str">Image Encryption & Decryption</span></h2></center>
<div style="margin-top: 50px;" class="card">
<p style="font-size: 20px; font-weight: normal; font-family: sans-serif;"> Retrospected technique for secret sharing, highlighted by image encryption. Encryption of images is proven a successful method to communicate confidential information for which countless procedures are unearthed. Still, it continues attracting researchers as usage of images in every means of digital communication has phenomenally increased. Cryptography embraces various encryption methods and offers four chief modes where each one has found its place in many journals. This study takes cryptographic Cipher Block Chaining (CBC) mode as the fundamental footing which is manipulated in a unique fashion to achieve the goal. This script is coalescing of both Steganography and Cryptography thus ensuring enhanced security. Tentative results testify the routine and thus making it more upright of previously existing image encryption techniques. </p>
</div>
{% endblock %}
